/*Apply background for employee registration*/
body, html {
    height: 100%; /* Full height */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
      /* Gradient Background */
    background: linear-gradient(to bottom right, black, #003366);
  }
/* Define the grid container and center the form */
.form-container {
    display: grid;
    place-items: center; /* shorthand for align-items and justify-items */
    height: 100vh;
  }
  
  form {
    display: grid;
    gap: 15px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Darker shadow for better depth */
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Slight white background so that the text remains readable */
  }
  
  h1{
    font-size: 3rem;
    text-align: center;
    color: #fff;
  }
  
  input, button {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded corners for input fields and button */
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #0077cc; /* Add a highlight color when the input is focused */
    outline: none;
  }
  
  button {
    cursor: pointer;
    background-color: #0077cc;
    color: #fff;
    border: none;
  
    /* Hover effect for the button */
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0055aa;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    form {
      width: 95%; /* Allow the form to occupy more width on smaller screens */
    }
  }
  